@page "/booking"
@page "/booking/{bookingId:guid}"

<h3> @( @bookingId.HasValue ? "Edit" : "Make" ) booking</h3>

<AddEditBooking BookingId="@bookingId" />

@code {

    [Parameter]
    public Guid? bookingId { get; set; }

}
